<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="dbConnectionBean" class="com.example.demo.ejercicio6.DatabaseConnection"
             init-method="connect" destroy-method="disconnect">
             <property name="database" value="localhost"></property>
             <property name="user" value="oga"></property>
             <property name="password" value="password"></property>
       </bean>
</beans>