<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

      
       <bean id="personaSingletonBean" class="com.example.demo.ejercicio5.Persona"
             scope="singleton"></bean>

        <bean id="personaPrototypeBean" class="com.example.demo.ejercicio5.Persona"
             scope="prototype"></bean>
        
        <bean id="personaCustomBean" class="com.example.demo.ejercicio5.Persona"
             scope="customscope"></bean>
        
        <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
            <property name="scopes">
                <map>
                    <entry key="customscope">
                        <ref bean="customScopeBean"/>
                    </entry>
                </map>
            </property>
        </bean>

        <bean id="customScopeBean" class="com.example.demo.ejercicio5.CustomScope"></bean>
             
</beans>