<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="student" class="com.example.demo.ejerciciof.StudentImpl">
		<property name="studentNo" value="123"></property>
		<property name="studentName" value="oga"></property>
	</bean>

	<bean id="studentAdditionalDetails" class="com.example.demo.ejerciciof.StudentAdditionalDetailsImpl">
		<property name="city" value="CDMX"></property>
		<property name="country" value="MX"></property>
	</bean>

	<aop:config>
		<aop:aspect>
			<aop:declare-parents types-matching="com.example.demo.ejerciciof.StudentAdditionalDetails+" 
			     implement-interface="com.example.demo.ejerciciof.Student"
				 delegate-ref="student" />
		</aop:aspect>
	</aop:config>
</beans>        