<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

      <bean id="partidoBean" class="com.example.demo.ejercicio3.Partido">
          <property name="nombre">
               <value>newpi vs furama</value>
          </property>
      </bean>

      <bean id="eventoBean" class="com.example.demo.ejercicio3.Evento">
          <constructor-arg value="Super campeones"></constructor-arg>
      </bean>

      <bean id="torneoBean" class="com.example.demo.ejercicio3.Torneo">
          <constructor-arg value="La gran final"></constructor-arg>
          <constructor-arg>
               <ref bean="eventoBean"/>
          </constructor-arg>
      </bean>

      <bean id="jugadorFutbolBean" class="com.example.demo.ejercicio3.JugadorFutbol">
          <property name="nombre" value="Oliver atto"></property>
          <property name="torneo" ref="torneoBean"></property>
          <property name="partido" ref="partidoBean"></property>
      </bean>

      <bean id="jugadorTenisBean" class="com.example.demo.ejercicio3.JugadorTenis">
          <property name="nombre" value="Tennis atto"></property>
          <property name="torneo" ref="torneoBean"></property>
          <property name="partido" ref="partidoBean"></property>
      </bean>

      <bean id="jugadorBeisbolBean" class="com.example.demo.ejercicio3.JugadorBeisbol">
          <property name="nombre" value="Beisbol atto"></property>
          <property name="torneo" ref="torneoBean"></property>
          <property name="partido" ref="partidoBean"></property>
      </bean>

</beans>