<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="helloWorldProperties" class="com.example.demo.ejercicio2.HelloWorld">
            <property name="mensaje" value="Hello world from properties"></property>
       </bean>

       <bean id="helloWorldConstructor" class="com.example.demo.ejercicio2.HelloWorld">
            <constructor-arg value="Hello world from constructor"></constructor-arg>
       </bean>

</beans>